<div class="d-flex justify-content-center mt-5">
    <div class="view-contact-img">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuvwJG3J0AvDmbaE8_obrEW5IHHEB2zDaYEw&s" alt=""
            srcset="">
    </div>

    <div class="view-contact-table-container">
        <table class="table table-bordered view-contact-table">
            <tbody>
                <tr>
                    <td>Name: <span>Avni</span></td>
                </tr>
                <tr>
                    <td>Mobile: <span>6296214952</span></td>
                </tr>
                <tr>
                    <td>Email: <span>avni</span></td>
                </tr>
                <tr>
                    <td>Company: <span>CTS</span></td>
                </tr>
                <button class="btn btn-sm btn-secondary mt-3" routerLink="/">Back</button>
            </tbody>
        </table>
    </div>
    
</div>