<div class="d-flex align-items-center">
    <h4>Phone Directory</h4>
    <button class="btn btn-sm btn-success ms-3">New</button>
</div>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque harum illo iusto, saepe expedita earum quos eos rem?
    Illo tenetur, laudantium ab culpa consequatur amet, maiores accusamus adipisci quod, eius architecto. Est, autem
    dolores!</p>
<div class="d-flex">
    <input type="text" class="search-contact-input" placeholder="Search Contact">
    <button class="btn btn-sm btn-outline-success ms-3">Search</button>
</div>

<div class="mt-3">
    <app-contact-list></app-contact-list>
</div>