<div class="ms-5">
    <h5>Create Contact</h5>
    <form class="w-25" [formGroup]="form" (ngSubmit)="onSubmit()">
        <input type="text" class="form-control mt-3" id="name" name="name" placeholder="Name" formControlName="name"
            [ngClass]="{'is-invalid': name.invalid && name.touched}" />
        @if(name.invalid && name.touched){
        <div class="alert alert-danger alert-msg">
            @if(name.errors?.required){
            <div>Name is required...</div>
            } @if(name.errors?.minlength){
            <div>Min length is 5 characters...</div>
            }
        </div>
        }
        <input type="text" class="form-control mt-2" id="photo" name="photo" placeholder="Photo Url"
            formControlName="photo"
            [ngClass]="{'is-invalid' : photo.invalid && photo.touched}"
            />

        @if(photo.invalid && photo.touched){
        <div class="alert alert-danger alert-msg">
            @if(photo.errors?.required){
            <div>Photo is required...</div>
            }
        </div>
        }
        <input type="text" class="form-control mt-2" id="mobile" name="mobile" placeholder="Mobile"
            formControlName="mobile" 
            [ngClass]="{'is-invalid': mobile.invalid && mobile.touched}"
            />
        @if(mobile.invalid && mobile.touched){
        <div class="alert alert-danger alert-msg">
            @if(mobile.errors?.required){
            <div>Mobile no is required...</div>
            }@if(mobile.errors?.pattern){
            <div>Mobile no is invalid...</div>
            }
        </div>
        }
        <input type="text" class="form-control mt-2" id="email" name="email" placeholder="Email"
            formControlName="email" 
            [ngClass]="{'is-invalid': email.invalid && email.touched}"
            />
        @if(email.invalid && email.touched){
        <div class="alert alert-danger alert-msg">
            @if(email.errors?.pattern){
            <div>Email is invalid...</div>
            }
        </div>
        }
        <input type="text" class="form-control mt-2" id="company" name="company" placeholder="Company"
            formControlName="company" />
        <div class="mt-3">
            <button type="submit" class="btn btn-sm btn-success"[disabled]="form.invalid">Create</button>
            <button type="button" class="btn btn-sm btn-secondary ms-2" (click)="onCancel()">Cancel</button>
        </div>
    </form>
</div>