<div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
  @for(item of contacts;track item.id){
  <div class="card mb-3 contact-card">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="item.photo" class="img-fluid rounded-start contact-image" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <table class="table table-striped table-bordered">
            <tbody>
              <tr>
                <td>Name: <span class="contact-details">{{item.name}}</span></td>
              </tr>
              <tr>
                <td>Mobile: <span class="contact-details">{{item.mobile}}</span></td>
              </tr>
              <tr>
                <td>Email: <span class="contact-details">{{item.email}}</span></td>
              </tr>
            </tbody>
          </table>
          <div>
            <button class="btn btn-sm btn-primary" [routerLink]="['/view-contact',item.id]">view</button>
            <button class="btn btn-sm btn-warning ms-2" routerLink="/update-contact">update</button>
            <button class="btn btn-sm btn-danger ms-2">delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  }
</div>